@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Patrick+Hand&family=Tillana&display=swap');

:root {
    --orange: #DE8959;
    --yellow: #CFDE64;
    --red: #ff0600;
    --white: #FFF;
    --green: #54BAB9;
    --purple: #913A5C;
    --gray: #4B5D67;
    --skyblue: #6FDEDC;
    --blue: #55ABA9;
    --black: #000;
    --lightskyblue: #B6E3E3;
    --navy: #417291;
    --darkred: #913A3A;
    --grey: #D2D6F7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-color: var(--white);
}

body, button, input {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: var(--black);
    letter-spacing: 1px;
}

button, input, .exit-modal {
    background-color: var(--white);
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 5px;
}

input {
    border: 1px solid var(--blue);
}

button, .exit-modal {
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--navy);
    background-color: var(--navy);
    color: var(--white);
}

main {
    margin: 0 auto;
    width: 80%;
}

h2 {
    color: var(--white);
    letter-spacing: 5px;
}

.hidden {
    display: none;
}

.input_section, .search_section, .cabinet{
    background-color: var(--blue);
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.15);
    padding: 1em 0;
    margin: 2em 0;
}

/* HEADER */

header {
    background-color: var(--skyblue);
}

header .title {
    padding: 0.25em;
    font-size: 3em;
    height: 2em;
}

/* NAVIGATION */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    
}

nav li {   
    background-color: var(--green); 
    flex-basis: 30%;
    padding: 0.3em 1em;
    cursor: pointer;
    user-select: none;
    color: var(--black);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5), 0 -2px 2px rgba(0, 0, 0, 0.5);
}

nav li:hover {
    color: var(--skyblue);
}

nav li {
    border-radius: 20px 20px 0 0;
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--skyblue);
}

.sticky-nav li {
    position: fixed;
    top: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    width: 30%;
}

.sticky-nav li:nth-child(1) {
    left: 2.5%;
}

.sticky-nav li:nth-child(3) {
    right: 2.5%;
}

.animation {
    animation: navAnimation .5s;
}

@keyframes navAnimation {
    0% {
        transform: translate(5px);
    }
    50% {
        transform: translate(-5px);
        color: var(--blue)
    }
    100% {
        color: white;
    }
}

.active {
    text-decoration: underline;
}

/* INPUT FORM AND EDIT FORM*/

.input {
    display: flex;
    justify-content: center;
    margin: .5em 0;
}

.input label {
    text-align: left;
    width: 20%;
    font-size: 1.2em;
}

.input .text-input {
    width: 70%;
}

.input div {
    width: 70%;
}

.edit-field div input {
    text-align: center;
}

/* FORM CARI BUKU */

.search_section p, .search_section form{
    margin: 0.5em 0;
}

.no-result {
    margin: 1em auto;
}

/* LEMARI BUKU */

.book_list {
    display: flex;
    justify-content: space-evenly;
   
    flex-wrap: wrap; 
}

.each-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
    vertical-align: middle;
    width: 30%;
    padding: 5px;
    background-color: var(--white);
}

.each-book .identity {
    margin: 2px 0;
}

.buttons {
    margin: 0.5em;
}

.buttons button {
    margin: 0 0.5em;
}

/* MODAL FORM */

.modal-form {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
}

.modal-form form {
    background-color: var(--blue);
    margin: auto;
    width: 80%;
    border-radius: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

/* FOOTER */

footer {
    margin: 1em;
}